#content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}
.item{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 30%;
}

.images{
	width: 100%;
	height: auto;
	border-radius: 40px;
	margin: 2%;
	border: red 1px solid;
}